# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
.flutter-plugins
.flutter-plugins-dependencies

# Environment variables
.env
